src/flows/Create_GetFurther_Sessions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>599</locationX>
        <locationY>361</locationY>
        <assignmentItems>
            <assignToReference>LoopVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Group_Details.TutorName__c}, {!SessionDateTime}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextSessionDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SessionDateVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Session</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_Sessions_To_Create</name>
        <label>More Sessions To Create?</label>
        <locationX>382</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_sessions_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopVar</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumberofSessions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>Variable less than Session number</label>
        </rules>
    </decisions>
    <description>Now with GET group after initial screen value. 
Now with attendance creation too. Removed programme lookup.
Now gets group details and sets session tutor on Session records.</description>
    <dynamicChoiceSets>
        <name>StudentsPicklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CollegeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Subjects</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Subject__c</picklistField>
        <picklistObject>GetFurther_Session__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Topics</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tutorial_Topic__c</picklistField>
        <picklistObject>GetFurther_Session__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SessionDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!SessionDateVar} = -1, {!First_Session_Date_Time}, {!First_Session_Date_Time}+({!SessionDateVar}*7))</expression>
    </formulas>
    <interviewLabel>Create GetFurther Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create GetFurther Sessions</label>
    <loops>
        <name>Loop_through_Engagements</name>
        <label>Loop through Engagements</label>
        <locationX>919</locationX>
        <locationY>151</locationY>
        <collectionReference>Get_Engagements_linked_to_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Attendance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_Sessions_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendance</name>
        <label>Create Attendance</label>
        <locationX>724</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Loop_through_Engagements</targetReference>
        </connector>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>Loop_through_Engagements.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GetFurther_Session__c</field>
            <value>
                <elementReference>CurrentSessionVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Loop_through_Engagements.Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Attendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Session</name>
        <label>Create Sessions</label>
        <locationX>762</locationX>
        <locationY>363</locationY>
        <assignRecordIdToReference>CurrentSessionVariable</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_through_Engagements</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Group_Details.TutorName__c}, {!SessionDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Programme__c</field>
            <value>
                <elementReference>Get_Group_Details.Cohort__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Number_Name__c</field>
            <value>
                <elementReference>Room_Number_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SessionTutor__c</field>
            <value>
                <elementReference>Get_Group_Details.LeadTutor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Date__c</field>
            <value>
                <elementReference>SessionDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>Get_Group_Details.SubjectFocus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TuitionGroup__c</field>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor__c</field>
            <value>
                <elementReference>Get_Group_Details.LeadTutor__r.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>GetFurther_Session__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Engagements_linked_to_Group</name>
        <label>Get Engagements linked to Group</label>
        <locationX>212</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>More_Sessions_To_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Details</name>
        <label>Get Group Details</label>
        <locationX>269</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Engagements_linked_to_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Sessions</name>
        <label>Create Sessions</label>
        <locationX>471</locationX>
        <locationY>149</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Group_Details</targetReference>
        </connector>
        <fields>
            <name>ConditionalText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;color: rgb(192, 5, 5);&quot;&gt;Please populate the &apos;Lead Tutor&apos; field before scheduling sessions. You will first need to create an Engagement record within this Tuition Group for the Tutor.  &lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Group_Details.LeadTutor__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(19, 23, 134); font-size: 14px;&quot;&gt;Update the details below to schedule sessions for this Tuition Group&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select the number of sessions you wish to create and the date of the first session. Sessions will then be scheduled weekly from the first date onwards.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NumberofSessions</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>5.0</numberValue>
            </defaultValue>
            <fieldText>Number of Sessions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>First_Session_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>First Session Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Room_Number_Name</name>
            <dataType>String</dataType>
            <fieldText>Room Number/Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The name or number of the room in which sessions will be held each week&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>379</locationX>
        <locationY>489</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;All sessions have now been created &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Create_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendeeToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendee__c</objectType>
    </variables>
    <variables>
        <name>CollegeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentSessionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NextSessionDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SessionDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>ProgramName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SessionName</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionDateVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>-1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SessionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Students</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StudentsSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StudentToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Topic</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
