src/flows/Student_Submission_Conversion_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found</label>
        <locationX>241</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Create_new_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingContactRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Converts all collated student date into a Contact, Engagement and Survey record. 
Subject of study field included in Engagement record creation now. Also separate update step if contact found!</description>
    <formulas>
        <name>IfStudentIDIsBlank</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Get_Submission_Details.StudentIDifKnown__c})=TRUE, &apos;NoStudentContactFound&apos;,{!Get_Submission_Details.StudentIDifKnown__c})</expression>
    </formulas>
    <formulas>
        <name>RelevantContactID</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!ExistingContactRecord.Id})=TRUE,{!NewContactID},{!ExistingContactRecord.Id})</expression>
    </formulas>
    <interviewLabel>Student Submission Conversion Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Student Submission Conversion Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Engagement</name>
        <label>Create Engagement</label>
        <locationX>406</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>RelevantContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>Get_Submission_Details.TuitionGroup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubjectAreaofStudy__c</field>
            <value>
                <elementReference>Get_Submission_Details.Contact_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_contact</name>
        <label>Create new contact</label>
        <locationX>248</locationX>
        <locationY>466</locationY>
        <assignRecordIdToReference>NewContactID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Engagement</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Get_Submission_Details.DateofBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommentsorQuestions__c</field>
            <value>
                <elementReference>Get_Submission_Details.CommentsorQuestions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsenttoPersonalInfoBeingProcessed__c</field>
            <value>
                <elementReference>Get_Submission_Details.ConsenttoPersonalInfoBeingProcessed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Candidate_Number__c</field>
            <value>
                <elementReference>Get_Submission_Details.StudentIDifKnown__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Disability__c</field>
            <value>
                <elementReference>Get_Submission_Details.Contact_Disability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Gender__c</field>
            <value>
                <elementReference>Get_Submission_Details.Contact_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Subject__c</field>
            <value>
                <elementReference>Get_Submission_Details.Contact_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courses_Studying_This_Year__c</field>
            <value>
                <elementReference>Get_Submission_Details.Courses_Studying_This_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Submission_Details.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_SMS_Consent__c</field>
            <value>
                <elementReference>Get_Submission_Details.HappytoReceiveSMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EthnicGroupBackground__c</field>
            <value>
                <elementReference>Get_Submission_Details.EthnicGroupBackground__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EverHadaSocialWorker__c</field>
            <value>
                <elementReference>Get_Submission_Details.EverHadaSocialWorker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Submission_Details.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_school_college_meals__c</field>
            <value>
                <elementReference>Get_Submission_Details.Free_school_college_meals__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeneralUnderstanding__c</field>
            <value>
                <elementReference>Get_Submission_Details.GeneralUnderstanding__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GradeAwardedforMaths__c</field>
            <value>
                <elementReference>Get_Submission_Details.GradeAwardedforMaths__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade_Awarded_for_English__c</field>
            <value>
                <elementReference>Get_Submission_Details.Grade_Awarded_for_English__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Had_extra_help_from_tutor__c</field>
            <value>
                <elementReference>Get_Submission_Details.Had_extra_help_from_tutor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HowLongSpeakingEnglish__c</field>
            <value>
                <elementReference>Get_Submission_Details.HowLongSpeakingEnglish__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageSpokenatHome__c</field>
            <value>
                <elementReference>Get_Submission_Details.LanguageSpokenatHome__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Submission_Details.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_Submission_Details.Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Get_Submission_Details.AddressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Submission_Details.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_After_Course__c</field>
            <value>
                <elementReference>Get_Submission_Details.Next_Steps_After_Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousAttemptGCSEinMaths__c</field>
            <value>
                <elementReference>Get_Submission_Details.PreviousAttemptGCSEinMaths__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Attempt_GCSE_in_English__c</field>
            <value>
                <elementReference>Get_Submission_Details.Previous_Attempt_GCSE_in_English__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RateEnglishLanguageSkills__c</field>
            <value>
                <elementReference>Get_Submission_Details.RateEnglishSkillsUnderstandSpeech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RateEnglishSkillsReading__c</field>
            <value>
                <elementReference>Get_Submission_Details.RateEnglishSkillsReading__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RateEnglishSkillsSpeaking__c</field>
            <value>
                <elementReference>Get_Submission_Details.RateEnglishSkillsSpeaking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RateEnglishSkillsUnderstandSpeech__c</field>
            <value>
                <elementReference>Get_Submission_Details.RateEnglishSkillsUnderstandSpeech__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RateEnglishSkillsWriting__c</field>
            <value>
                <elementReference>Get_Submission_Details.RateEnglishSkillsWriting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_tutor_will_help_choice__c</field>
            <value>
                <elementReference>Get_Submission_Details.Reason_for_tutor_will_help_choice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt_of_Benefits__c</field>
            <value>
                <elementReference>Get_Submission_Details.Receipt_of_Benefits__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Contact_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecialEduNeeds__c</field>
            <value>
                <elementReference>Get_Submission_Details.SpecialEducationalNeed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudySupporterFirstName__c</field>
            <value>
                <elementReference>Get_Submission_Details.StudySupporterFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudySupporterLastName__c</field>
            <value>
                <elementReference>Get_Submission_Details.StudySupporterLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudySupporterMobile__c</field>
            <value>
                <elementReference>Get_Submission_Details.StudySupporterMobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudySupporterRelationship__c</field>
            <value>
                <elementReference>Get_Submission_Details.StudySupporterRelationship__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor_will_help__c</field>
            <value>
                <elementReference>Get_Submission_Details.TutorWillHelp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>594</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Update_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>Certain_I_understand_difficult_material__c</field>
            <value>
                <elementReference>Get_Submission_Details.Certain_I_understand_difficult_material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateSubmitted__c</field>
            <value>
                <elementReference>Get_Submission_Details.DateSubmitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>Create_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Excellent_job_on_assignments__c</field>
            <value>
                <elementReference>Get_Submission_Details.Excellent_job_on_assignments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expect_to_do_well__c</field>
            <value>
                <elementReference>Get_Submission_Details.Expect_to_do_well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feel_helpless__c</field>
            <value>
                <elementReference>Get_Submission_Details.Feel_helpless__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Get_good_grades_in_subject__c</field>
            <value>
                <elementReference>Get_Submission_Details.Get_good_grades_in_subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_confident_do_you_feel_1__c</field>
            <value>
                <elementReference>Get_Submission_Details.How_confident_do_you_feel_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_confident_do_you_feel_2__c</field>
            <value>
                <elementReference>Get_Submission_Details.How_confident_do_you_feel_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_confident_do_you_feel_3__c</field>
            <value>
                <elementReference>Get_Submission_Details.How_confident_do_you_feel_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_confident_do_you_feel_4__c</field>
            <value>
                <elementReference>Get_Submission_Details.How_confident_do_you_feel_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>How_confident_do_you_feel_5__c</field>
            <value>
                <elementReference>Get_Submission_Details.How_confident_do_you_feel_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_can_master_skills__c</field>
            <value>
                <elementReference>Get_Submission_Details.I_can_master_skills__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_get_very_tense_homework__c</field>
            <value>
                <elementReference>Get_Submission_Details.I_get_very_tense_homework__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>I_often_worry__c</field>
            <value>
                <elementReference>Get_Submission_Details.I_often_worry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ill_receive_excellent_grade__c</field>
            <value>
                <elementReference>Get_Submission_Details.Ill_receive_excellent_grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Just_not_good_at_subject__c</field>
            <value>
                <elementReference>Get_Submission_Details.Just_not_good_at_subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Learn_subject_quicklu__c</field>
            <value>
                <elementReference>Get_Submission_Details.Learn_subject_quickly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nervous_doing_tasks_in_lesson__c</field>
            <value>
                <elementReference>Get_Submission_Details.Nervous_doing_tasks_in_lesson__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_of_my_best_subjects__c</field>
            <value>
                <elementReference>Get_Submission_Details.One_of_my_best_subjects__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Think_Ill_do_well__c</field>
            <value>
                <elementReference>Get_Submission_Details.Think_Ill_do_well__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understand_basic_concepts__c</field>
            <value>
                <elementReference>Get_Submission_Details.Understand_basic_concepts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understand_complex_material__c</field>
            <value>
                <elementReference>Get_Submission_Details.Understand_complex_material__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Understand_difficult_work__c</field>
            <value>
                <elementReference>Get_Submission_Details.Understand_difficult_work__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worry_about_poor_grades__c</field>
            <value>
                <elementReference>Get_Submission_Details.Worry_about_poor_grades__c</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_record_type</name>
        <label>Get Contact record type</label>
        <locationX>806</locationX>
        <locationY>136</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student_Record_Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Details</name>
        <label>Get Submission Details</label>
        <locationX>587</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StudentSubmission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact</name>
        <label>Lookup Contact</label>
        <locationX>807</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submission_Details.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submission_Details.LastName__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ExistingContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>408</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Create_Engagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingContactRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Courses_Studying_This_Year__c</field>
            <value>
                <elementReference>Get_Submission_Details.Courses_Studying_This_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_Submission_Details.Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Get_Submission_Details.AddressLine1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps_After_Course__c</field>
            <value>
                <elementReference>Get_Submission_Details.Next_Steps_After_Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousAttemptGCSEinMaths__c</field>
            <value>
                <elementReference>Get_Submission_Details.PreviousAttemptGCSEinMaths__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Attempt_GCSE_in_English__c</field>
            <value>
                <elementReference>Get_Submission_Details.Previous_Attempt_GCSE_in_English__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_tutor_will_help_choice__c</field>
            <value>
                <elementReference>Get_Submission_Details.Reason_for_tutor_will_help_choice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tutor_will_help__c</field>
            <value>
                <elementReference>Get_Submission_Details.TutorWillHelp__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submission</name>
        <label>Update Submission</label>
        <locationX>827</locationX>
        <locationY>410</locationY>
        <inputAssignments>
            <field>Engagement__c</field>
            <value>
                <elementReference>Create_Engagement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Submission_Details</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TuitionGroup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>StudentSubmission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmissionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
