dist/flows/Create_Engagements_and_Attendances.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Attendances_to_Collection</name>
        <label>Add Attendances to Collection</label>
        <locationX>691</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>AttendanceCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attendancesinglevariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_sessions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attendance_Assignment</name>
        <label>Attendance Assignment</label>
        <locationX>806</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>Attendancesinglevariable.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendancesinglevariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Engagement_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendancesinglevariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendancesinglevariable.Engagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Engagement_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendancesinglevariable.GetFurther_Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SessionSingle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Attendances_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Session_Assignment</name>
        <label>Add Session To Collection</label>
        <locationX>926</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>SessionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SessionSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attendance_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Session_Assignment</name>
        <label>Single Session Assignment</label>
        <locationX>924</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>SessionSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_sessions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Session_Assignment</targetReference>
        </connector>
    </assignments>
    <description>Creates Engagements and attendance records for all sessions (after engagement start date).</description>
    <dynamicChoiceSets>
        <name>ExamBoard</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ExamBoard__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExamBoardChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StudentExamBoard__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Engagement__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Engagements and Attendances {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Engagements and Attendances</label>
    <loops>
        <name>Loop_through_sessions</name>
        <label>Loop through sessions</label>
        <locationX>720</locationX>
        <locationY>203</locationY>
        <collectionReference>Get_Future_Sessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Session_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attendances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Attendances</name>
        <label>Create Attendances</label>
        <locationX>832</locationX>
        <locationY>93</locationY>
        <inputReference>AttendanceCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement_Record</name>
        <label>Create Engagement Record</label>
        <locationX>483</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Get_Future_Sessions</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Engagement_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StudentExamBoard__c</field>
            <value>
                <elementReference>Exam_Board</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Engagement_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Future_Sessions</name>
        <label>Get Future Sessions</label>
        <locationX>579</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_sessions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DateValue__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Engagement_Start_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Session_Delivered__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>TuitionGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GetFurther_Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tuition_Group</name>
        <label>Get Tuition Group</label>
        <locationX>176</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Engagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Engagement</name>
        <label>Create Engagement</label>
        <locationX>369</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Engagement_Record</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(25, 118, 189); font-family: sans-serif;&quot;&gt;Use this screen to create Engagement records for students and tutors who are part of this group.  Attendance records will also be created for all future sessions.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select the contact you wish to create an Engagement record for</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Engagement__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Engagement_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Engagement Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Engagement_Type</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Engagement Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Exam_Board</name>
            <choiceReferences>ExamBoardChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exam Board</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Engagement_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Student</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Tuition_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AttendanceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendee__c</objectType>
    </variables>
    <variables>
        <name>AttendanceCollectionVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendee__c</objectType>
    </variables>
    <variables>
        <name>Attendancesinglevariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendee__c</objectType>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GetFurther_Session__c</objectType>
    </variables>
    <variables>
        <name>SessionSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GetFurther_Session__c</objectType>
    </variables>
</Flow>
